<div class="banner">
    <img src="assets/images/banner.png">
</div>
<div class="container">
    <h1 class="heading">40<span class="brokenHinge">4</span></h1>
    <div class="textMessage">
        Böyle bir sayfa aslında yoktu ama artık var.
        <div class="tryAgain">
        Anlatmaya gerek yok! Görüyorsunuz...
        </div>
    </div>
</div>