<div class="about-me">
    <div class="banner">
        <img src="assets/images/banner.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="in">
                    <img src="assets/images/photo.jpeg">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="in">
                    <p>
                        Merhabalar,
                    </br></br>
                        Ben Eray, 93 doğumluyum 2016 yılının ortalarından beri yazılımla ilgili çalışmalarda bulunuyorum.
                        Bu sayfayı kendi kişisel deneyimlerimi paylaşmak için oluşturdum. 
                        <a href="contact.html">Buradan</a> benimle iligili iletişim bilgilerine ulaşabilir ya da formu doldurarak iletmek istediklerinizi bana ulaştırabilirsiniz.
                    </br></br>
                        Teşekkür eder iyi günler dilerim.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>