<div class="blog">
    <div class="banner">
        <img src="assets/images/banner.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="in">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a href="blogs/git-dersleri.html"><img src="blogs/images/git.png"></a>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <a href="blogs/git-dersleri.html"><h3>GİT NEDİR VE NASIL KULLANILIR</h3></a>
                                
                                <p>
                                    Git, dosyalarımızı github üzerinde kaydederek, dosyalarımın kaybolmasını engellemek,
                                    her yerden dosyalarıma erişebilmek, dosyalarımızı paylaşmak veya gizlemek gibi br çok nedenle kullanılabilir.
                                </p>
                                <p>
                                    Git kullanabilmek için ilk ihtiyacımız olan github hesabıdır. Github hesabınızı <a href="https://github.com/" target="_blank">buradan</a> oluşturabilirsiniz.
                                </p>
                                <button type="button" class="btn btn-outline-primary" onclick="blogs/git-dersleri.html">devamını gör</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="in">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a href="blogs/docker.html"><img src="blogs/images/dock1.png">"</a>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <a href="blogs/docker.html"><h3>DOCKER NEDİR VE NASIL KULLANILIR</h3></a>
                                <a href="blogs/docker.html"><p>
                                    Docker; kod, sistem araçları, sistem kütüphanesi, ayarlar gibi ihtiyaç duyulan bütün yazılım içeriklerinin bir parçasını paketleyen
                                        hafif, ölçeklenebilir, bağımsız bir konteynır imajıdır. Linux ve Windows temelli uygulamalar için uygundur, konteynıra yüklenmiş uygulamalar her zaman ve her ortamda aynı...</p></a>
                                <button type="button" class="btn btn-outline-primary" onclick="blogs/docker.html">devamını gör</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="in">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a href="blogs/sass.html"><img src="blogs/images/sass1.svg"></a>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <a href="blogs/sass.html"><h3>SASS NEDİR VE NASIL KULLANILIR</h3></a>
                                <a href="blogs/sass.html"><p>SASS; CSS ile uyum içerisinde çalışan, derlenebilen dinamik bir biçim şablon dilidir.
                                        .scss dosyası içerisinde değişkenler tanımlayarak tanımlamış olduğunuz değişkenleri 
                                        farklı biçim kuralları için tekrar tekrar kullanabilirsiniz. </p></a>
                                <button type="button" class="btn btn-outline-primary">devamını gör</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="in">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a href=""><img src="assets/images/deneme.jpg"></a>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <a href=""><h3>Lorem Ipsum</h3></a>
                                <a href=""><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec enim quis ex elementum varius eu non ipsum. Vestibulum in sagittis lectus. Donec eget diam sem. Nunc faucibus libero mi. Donec id tincidunt arcu. Suspendisse malesuada volutpat risus ut lacinia. Aliquam bibendum commodo facilisis. Vestibulum convallis sollicitudin nisi id hendrerit. </p></a>
                                <button type="button" class="btn btn-outline-primary">devamını gör</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="in">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a href=""><img src="assets/images/deneme.jpg"></a>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <a href=""><h3>Lorem Ipsum</h3></a>
                                <a href=""><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec enim quis ex elementum varius eu non ipsum. Vestibulum in sagittis lectus. Donec eget diam sem. Nunc faucibus libero mi. Donec id tincidunt arcu. Suspendisse malesuada volutpat risus ut lacinia. Aliquam bibendum commodo facilisis. Vestibulum convallis sollicitudin nisi id hendrerit. </p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--sayfa numaraları-->
            <div class="numara">
                <button class="btn">1</button>
                <button class="btn">2</button>
                <button class="btn">3</button>
            </div>
            <!--sayfa numaraları-->
        </div>
    </div>
</div>