<div class="contact">
    <div class="banner">
        <img src="assets/images/banner.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="in">
                    <form method="post" action="/contact">
                        <div class="form-group">
                            <label for="exampleInputEmail1">e-posta adresi</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="e-posta adresiniz">
                            <small id="emailHelp" class="form-text text-muted">e-posta adresiniz hiçkimseyle paylaşılmayacaktır.</small>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">tam adınız</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="tam adınız">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">iletmek istedikleriniz</label>
                            <textarea class="form-control" name="message" id="text" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success" value="submit">Gönder</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="in">
                    Form ile ulaşmak dışında aşağıdaki e-posta adresimden veya sosyal medya hesaplarımdan da bana ulaşabilirsiniz.
                    <ul>
                        <li><a href="https://www.facebook.com/Eray.Demirin.Profilidir" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com//eray1tane/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/dahakolaybirisim/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/eray-aydemir-b7022615b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:eraydemir1@yandex.com"><i class="fa fa-at"></i></a></li>
                        <li><a href="https://github.com/eademir/" target="_blank"><i class="fa fa-git"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>