<div class="index">
    <div class="show">
        <div class="banner">
            <div class="part1"></div>
            <div class="part2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="in">
                    <h5>
                        Merhabalar,
                    </br></br>
                        Benim ismim Eray,
                        bu kişisel web sayfasını kendi bildiklerimi not almak ve bunları paylaşmak için oluşturdum.
                    </br></br>
                        Bu sitede; web yazılım, işletim sistmeleri, pratik kodlar ile ilgili paylaşımlarda bulunacağım.
                        Teknoloji ile ilgili gerçekleşen güncel olayları da takip ederken blogumda paylaşmaya çalışacağım.
                    </br></br>
                        Yazılarımı görüntüleyebilmek için <a href="/blog">blog</a> sayfama bakabilirsiniz.
                    </br></br>
                        İstek, öneri ve eleştirileriniz için <a href="/contact">iletişim</a> bölümünden bana ulaşabilirsiniz.
                    </br></br>
                        Okuyan ve takip eden herkese teşekkür eder iyi günler dilerim.
                    </h5>
                    <h3>
                        &copy; eraydediki.com
                    </h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="in">
                    <ul>
                        <h4>Faydalı Linkler</h4>
                        <li><a href="https://wmaraci.com/" data-title="Web sitesi ile ilgili her şeyi bulabileceğiniz Türkçe bir forum sitesi. Soru sorabilmeniz için üyelik almanız gerekmektedir.">wmaraci.com</a></li>
                        <li><a href="https://stackoverflow.com/" data-title="Dünyanın bir çok yerinden kullanıcısı bulunan bu sitede yok yok. Karşılaştığım sorunları bu sitede arayıp da çözüm bulamadığım hiç olmadı.">stackoverflow.com</a></li>  
                        <li><a href="https://github.com/" data-title="Bir yazılımcının kesinlike kullanması gereken bir site. Bir sürü açık kaynak koda ulaşmak ve dünyaca ünlü yazılımcıları takip etmek bu platform üzerinden mümkün.">github.com</a></li>                   
                        <li><a href="https://www.linkedin.com/" data-title="İş hayatınızla ilgili gelişmeleri takip edip kişilerle iletişim kurabileceğiniz profesyonel bir sosyal ağ.">linkedin.com</a></li>                   
                        <li><a href="" data-title=""></a></li>                   
                        <li><a href="" data-title=""></a></li>                   
                        <li><a href="" data-title=""></a></li>                   
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>