<div class="index">
    <div class="show">
        <div class="banner">
            <div class="part1"></div>
            <div class="part2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="in">
                    <h5>
                        Merhabalar,
                    </br></br>
                        Benim ismim Eray,
                        bu kişisel web sayfasını kendi bildiklerimi not almak ve bunları paylaşmak için oluşturdum.
                    </br></br>
                        Bu sitede; web yazılım, işletim sistmeleri, pratik kodlar ile ilgili paylaşımlarda bulunacağım.
                        Teknoloji ile ilgili gerçekleşen güncel olayları da takip ederken blogumda paylaşmaya çalışacağım.
                    </br></br>
                        Yazılarımı görüntüleyebilmek için <a href="blog.html">blog</a> sayfama bakabilirsiniz.
                    </br></br>
                        İstek, öneri ve eleştirileriniz için <a href="contact.html">iletişim</a> bölümünden bana ulaşabilirsiniz.
                    </br></br>
                        Okuyan ve takip eden herkese teşekkür eder iyi günler dilerim.
                    </h5>
                    <h2>
                        &copy; eraydediki.com
                    </h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="in">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>