<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>eray dedi ki</title>
        <meta charset="utf-8">
        <meta name="description" content="Teknoloji ve Yazılım dünyası ile ilgili kişisel blog sayfam"/>
        <meta name="robots" content="kişisel, blog, teknoloji, yazılım, frontend"/>
        <meta nema="keywords" content="html, css, js, javascript,web kodlama, frontend, backend"/>
        <meta name="generator" content="Sublime Text, Visual Studio Code, Atom, Vim"/>
        <meta name="rating" content="general">
        <meta name="author" content="Eray Demir , eray@eraydediki.com"/>
        <meta name="refresh" content="5"/>
        <link rel='stylesheet' type='text/css' href='assets/css/responsive.css' >
        <link rel='stylesheet' type='text/css' href='assets/css/style.css' >
        <link rel='stylesheet' type='text/css' href='assets/css/bootstrap.min.css'>
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!--header başlangıç-->
        <header>
                <nav class="navbar navbar-expand-sm navbar-dark">
                        <a class="navbar-brand" href="/"><img src="assets/images/favicon.png">ERAYDEDİKİ</a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                  
                        <div class="navbar-collapse collapse" id="navbar">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                              <a class="nav-link" href="/">anasayfa</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/blog">blog</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/about-me">hakkımda</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/contact">iletişim</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
        </header>
        <!--header bitiş-->
            <%- body %>
        <!--footer başlangıç-->
        <footer class="line"></footer>
        <footer class="top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>menü</h4>
                        <ul>
                            <li><a href="/">anasayfa</a></li>
                            <li><a href="blog">blog</a></li>
                            <li><a href="about-me">hakkımda</a></li>
                            <li><a href="contact">iletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <a href=""><h4>blog</h4></a>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>son yazılar</h4>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="bottom">
                <div class="container">
                    <p>&copy; 2018 eraydediki.com</p>
                </div>
        </footer>
        <!--footer bitiş-->
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</html>