<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>eray dedi ki</title>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='assets/css/responsive.css' >
        <link rel='stylesheet' type='text/css' href='assets/css/style.css' >
        <link rel='stylesheet' type='text/css' href='assets/css/bootstrap.min.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!--header başlangıç-->
        <header>
            <nav>
                <a href="/" class="photo"><h4>ERAYDEDİKİ</h4></a>
                <ul class="nav nav-primary-horizontal">
                    <li><a href="/">anasayfa</a></li>
                    <li><a href="blog">blog</a></li>
                    <li><a href="about-me">hakkımda</a></li>
                    <li><a href="contact">iletişim</a></li>
                </ul>
            </nav>
        </header>
        <!--header bitiş-->
            <%- body %>
        <!--footer başlangıç-->
        <footer class="line"></footer>
        <footer class="top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>menü</h4>
                        <ul>
                            <li><a href="/">anasayfa</a></li>
                            <li><a href="blog">blog</a></li>
                            <li><a href="about-me">hakkımda</a></li>
                            <li><a href="contact">iletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <a href=""><h4>blog</h4></a>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>son yazılar</h4>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="bottom">
                <div class="container">
                    <p>&copy; 2018 eraydediki.com</p>
                </div>
        </footer>
        <!--footer bitiş-->
    </body>
</html>